<% extend('layout') %>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Pending Task
            <small>List</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <% if(task) { %>
        <table id="listTable">
            <thead>
            <tr>
                <td><input type="checkbox" id="selectAll"></td>
                <td>ID</td>
                <td>Title</td>
                <td>Status</td>
                <td>Update Task</td>
                <td>Delete Task</td>
            </tr>
            </thead>
            <tbody>

            <% for(var i = 0; i < task.length; i++) { %>
            <tr>
                <td></td>
                <td><%= task[i]._id %></td>
                <td><%= task[i].title %></td>
                <td class="pending"><%= task[i].status %></td>
                <td><a href=/task/updateTask/<%= task[i]._id %> >Update</a></td>
                <td><a href=/task/deleteTask/<%= task[i]._id %> >Delete</a></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
    </div>

    <div class="col-md-4">
        <h3>Task</h3>
        <p>Click below to add new task <a href="/task/addTask">Add New Task</a></p>

        <p>Save the selected task <span id="saveAllTasks" style="color: #00B7FF;">Save Task</span></p>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var taskData = JSON.parse(localStorage.getItem('taskData'));
        if (typeof(Storage) !== "undefined") {
            if (localStorage.taskData) {
                $.each(taskData, function (key, val) {
                    $('tbody').after(
                            '<tr>' +
                            '<td><input type="checkbox" data-id="' + val.id + '" class="select"></td>' +
                            '<td></td>' +
                            '<td>' + val.title + '</td>' +
                            '<td>Pending</td>' +
                            '<td><span data-id="' + val.id + '" class="saveTask">Save</span></td>' +
                            '<td></td>' +
                            '</tr>');
                });
            }
        }

        $('#selectAll').on('click', function () {
            if (this.checked) {
                $('.select').each(function () {
                    this.checked = true;
                });
            } else {
                $('.select').each(function () {
                    this.checked = false;
                });
            }
        });
        $('.saveTask').on('click', function () {
            var id = $(this).data('id');
            var taskToSave = [];
            taskToSave.push(taskData[id]);
            taskData.splice(id, 1);
            if (taskData !== null && taskData !== 'undefined') {
                localStorage.setItem('taskData', JSON.stringify(taskData));
            } else {
                localStorage.removeItem('taskData', JSON.stringify(taskData));
            }
            $.ajax({
                type: "POST",
                url: '/task/addTask',
                contentType: 'application/json',
                data: JSON.stringify(taskToSave),
                success: function () {
                    window.location.reload();
                },
                error: function (error) {
                    alert("Error occured !!! Please add task again");
                    window.location.reload();
                },
            });
        });
        $('#saveAllTasks').on('click', function () {
            var checkedTask = [];
            var obj = [];
            var taskToSave = [];
            var id = 0;
            $('.select').each(function () {
                checkedTask.push(this.checked);
            });
            if ($.inArray(true, checkedTask) == -1) {
                alert('Please select one task to save');
            } else {
                $('.select').each(function () {
                    if (this.checked) {
                        obj.push($(this).data('id'));
                    }
                });
                $.each(obj, function (key, val) {
                    taskToSave.push(taskData[val]);
                    taskData.splice(val, 1);
                });
                if (taskData !== null && taskData !== 'undefined') {
                    localStorage.setItem('taskData', JSON.stringify(taskData));
                } else {
                    localStorage.removeItem('taskData', JSON.stringify(taskData));
                }
                $.ajax({
                    type: "POST",
                    url: '/task/addManyTask',
                    contentType: 'application/json',
                    data: JSON.stringify(taskToSave),
                    success: function () {
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                        console.log(JSON.parse(error.message));
                        alert("Error occured !!! Please add task again");
                        window.location.reload();
                    },
                });
                return false;
            }
        });
    });
</script>
